/* Color Theme Swatches in Hex */
.Cópia-de-GRISES-ALTLAS-1-hex { color: #99B898; }
.Cópia-de-GRISES-ALTLAS-2-hex { color: #FECEA8; }
.Cópia-de-GRISES-ALTLAS-3-hex { color: #FF847C; }
.Cópia-de-GRISES-ALTLAS-4-hex { color: #E84A5F; }
.Cópia-de-GRISES-ALTLAS-5-hex { color: #2A363B; }

/* font-family: 'Barlow', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Cormorant Garamond', serif; */

@font-face {
  font-family: 'Cochin';
  src: 'Fonts/Cochin.ttc';
}

body {
  height: 100vh;
  max-width: 100vw;
  opacity: 0.8;
  /* display: flex; */
  text-align: center;
  background-image: linear-gradient(to top left, #99B898 50%, #FECEA8 50%)
}

.App {
  text-align: center;
  height: 100vh;
  max-width: 100vw;
  display: flex;
}

.left-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-left: 86px;
  margin-top: 40px;
  grid-area: "left"
}
.right-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  padding-right: 20px;
  margin-right: 90px;
  margin-top: 15px;
  overflow: scroll;
  grid-area: "right";
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2A363B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: FF847C;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-right: 946px;
  margin-top: 35px;
  display: inline-block;
}

.page-header {
  font-family: 'Barlow', sans-serif;
  font-size: 2em;
  letter-spacing: 4px;
}

nav {
  font-family: 'Barlow', sans-serif;
  font-size: 1.5em;
  margin-top: 30px;
  display: inline-block;
  margin-right: 320px;
}

p {
  padding-right: 20px;
  font-family: 'News Cycle', sans-serif;
  font-size: 1.2em;
}

.nav-text {
  padding: 5px;
  color: #2A363B;
  text-decoration: none;
}

.nav-text:hover {
  text-decoration: underline;
}

.portfolio {
  margin-top: 20px;
  margin-right: 140px; 
}


.portfolio:hover {
  text-decoration: none;
}

.eye-icon {
  margin-top: 20px;
  margin-right: 470px;
  font-size: 6em;
}

.eye-icon:hover {
  color: #E84A5F; 
}

.dl-res {
  letter-spacing: 8px;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  margin-right: 434px;
  margin-top: 0px;
}

.res-text {
  text-decoration: none;
  color: #2A363B;
}

.projects-main {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3em;
}

.project-pic {
  border: 2px solid #2A363B;
}

.mirror-img {
  margin-top: 70px;
  opacity: 0.95;
}

.video {
  margin: 30px;
}

.lagoon-img {
  border-radius: 50%;
}

form {
  margin-top: 20px;
  font-family: 'News Cycle', sans-serif;
}

.form-name {
  margin-top: 12px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2A363B;
  width: 60%;
  height: 28px;
  margin-left: 64px;
}

.form-email {
  margin-top: 12px;
  font-size: 20px;
  color: black;
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #2A363B;
  height: 28px;
  margin-left: 64px;
}

.form-subject {
  margin-top: 12px;
  font-size: 20px;
  color: black;
  background-color: transparent;
  border: none;
  width: 60%;
  border-bottom: 2px solid #2A363B;
  height: 28px;
  margin-left: 64px;
}

.form-msg {
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 20px;
  border: 2px solid #2A363B;
  background-color: transparent;
  border-radius: 2%;
}
textarea {
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  width: 400px;
  height: 200px;
  margin-left: 70px;
}

button {
  letter-spacing: 8px;
  text-decoration: none;
  width: 20%;
  text-align: center;
  margin-left: 50px;
  font-family: 'News Cycle', sans-serif;
  font-size: 22px;
  border: 2px solid #2A363B;
  background-color: transparent;
}

.react-icon{ 
  font-size: 3em;
  color: #2A363B;
}

.icon-box {
  display: inline-block;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 0;
  color: #2A363B;
  width: 106px;
  height: 126px;
}

.icon-box:hover, .react-icon:hover, .git-icon:hover {
  color: #E84A5F;
}

.icon-text{
  font-size: 15px;
  margin-left: 20px;
}

.project-link {
  display: inline-block;
}

.proj-git-icon {
  padding: 5px;
  margin-top: 20px;
  margin-right: 38px;
  margin-left: 18px;
}

.proj-git-icon:hover {
  color: black;
}

.proj-link-icon {
  margin-bottom: 9px;
}

.proj-link-icon:hover {
  color: black;
}

.letter {
  font-size: 130px;
  letter-spacing: 80px;
  color: #2A363B;
  text-shadow: 3px 3px 3px black;
  font-family: 'News Cycle', sans-serif;
}

.letter-two{
  font-size: 70px;
  color: #2A363B;
  text-shadow: 3px 3px 3px black;
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 20px;
}

.welcome-box {
  margin-right: 400px;
  width: 400px;
  height: 400px;
}
/* footer {
  display: flex;
  margin-left: 900px;
  bottom: 0;
  position: absolute;
} */

.contact-img {
  border: 2px solid #2A363B;
  border-radius: 30%;
}

@media screen and (max-width: 600px) {

  .App {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "left"
                         "right"
  }

  .logo {
    display: none;
  }

  .left-box {
    display: grid;
    overflow: visible;
    width: 25%;
  }

  .right-box {
    display: grid;
    overflow: visible;
    width: 25%;
  }
  
}