
/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */
.Cópia-de-GRISES-ALTLAS-1-hex { color: #99B898; }
.Cópia-de-GRISES-ALTLAS-2-hex { color: #FECEA8; }
.Cópia-de-GRISES-ALTLAS-3-hex { color: #FF847C; }
.Cópia-de-GRISES-ALTLAS-4-hex { color: #E84A5F; }
.Cópia-de-GRISES-ALTLAS-5-hex { color: #2A363B; }



@font-face {
  font-family: 'Cochin';
  src: 'Fonts/Cochin.ttc';
}


body {
  /* border:6px solid #2A363B; */
  font-family: 'Nanum Gothic', sans-serif;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to top left, #99B898 50%, #FECEA8 50%)
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-left: 90px;
  margin-top: 40px;
}
.right-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-right: 80px;
  margin-top: 80px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2A363B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: FF847C;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  margin-right: 960px;
  margin-top: 35px;
  display: inline-block;
}

nav {
  font-family: 'Cochin';
  font-size: 1.5em;
  margin-top: 30px;
  display: inline-block;
  margin-right: 330px;
}

.nav-text {
  padding: 5px;
  color: #2A363B;
  text-decoration: none;
  /* margin-right: 300px; */
}


.portfolio {
  margin-right: 30px;
}
.eye-icon {
  /* margin: 40px; */
  margin-right: 450px;
  font-size: 6em;
}

.dl-res {
  font-family: 'Cochin';
  font-size: 1.2em;
  margin-right: 450px;
  margin-top: 40px;
}





