
/* Color Theme Swatches in Hex */

/* Color Theme Swatches in Hex */
.Cópia-de-GRISES-ALTLAS-1-hex { color: #99B898; }
.Cópia-de-GRISES-ALTLAS-2-hex { color: #FECEA8; }
.Cópia-de-GRISES-ALTLAS-3-hex { color: #FF847C; }
.Cópia-de-GRISES-ALTLAS-4-hex { color: #E84A5F; }
.Cópia-de-GRISES-ALTLAS-5-hex { color: #2A363B; }

/* font-family: 'Barlow', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Cormorant Garamond', serif; */

@font-face {
  font-family: 'Cochin';
  src: 'Fonts/Cochin.ttc';
}


body {
  /* border:6px solid #2A363B; */
  /* font-family: 'Nanum Gothic', sans-serif; */
  height: 100vh;
  width: 100%;
  opacity: 0.8;
  background-image: linear-gradient(to top left, #99B898 50%, #FECEA8 50%)
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.left-box{
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-left: 90px;
  margin-top: 40px;
  /* border: 2px solid black; */
}
.right-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 50%;
  margin-right: 90px;
  margin-top: 20px;
  overflow: scroll;
  /* border: 2px solid black; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2A363B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: FF847C;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-right: 960px;
  margin-top: 35px;
  display: inline-block;
}

.page-header {
  font-family: 'Barlow', sans-serif;
  font-size: 2em;
}

nav {
  font-family: 'Barlow', sans-serif;
  font-size: 1.5em;
  margin-top: 30px;
  display: inline-block;
  margin-right: 330px;
}

p {
  padding-right: 20px;
  font-family: 'News Cycle', sans-serif;
  font-size: 1.2em;
}
.nav-text {
  padding: 5px;
  color: #2A363B;
  text-decoration: none;
  /* margin-right: 300px; */
}


.portfolio {
  margin-left: 13px;
}
.eye-icon {
  /* color: #2A363B; */
  margin-top: 20px;
  /* margin: 40px; */
  margin-right: 460px;
  font-size: 6em;
}

.eye-icon:hover {
  color: #E84A5F;  
}

.dl-res {
  letter-spacing: 8px;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2em;
  margin-right: 434px;
  margin-top: 0px;
}

.projects-main {
  font-family: 'Barlow', sans-serif;
  font-size: 1.3em;
}

.project-pic {
  border: 2px solid #2A363B;
}

.citizenly {
  border: 2px solid #2A363B;
  border-radius: 10%;
}

.mirror-img {
  /* border: 2px solid #E84A5F; */
  margin-top: 70px;
  opacity: 0.95;
  /* margin-right: 120px; */
}

.video {
  margin: 30px;
}

.lagoon-img {
  border-radius: 50%;
  /* opacity: 1; */
}

form {
  font-family: 'News Cycle', sans-serif;
  /* margin-right: 30px; */
}
.form-name {
  height: 22px;
  margin-right: 60px;
}

.form-email {
  height: 22px;
  margin-right: 60px;
}

.form-subject {
  height: 22px;
  width: 200px;
}

textarea {
  font-family: 'News Cycle', sans-serif;
  font-size: 18px;
  width: 400px;
  height: 200px;
  margin-left: 70px;
}

button {
  text-align: center;
  font-family: 'News Cycle', sans-serif;
  /* padding: 4px; */
  font-size: 19px;
  letter-spacing: 9px;
  width: 84px;
  height: 32px;
}

.icon-box {
  margin-bottom: 40px;
  margin-top: 20px;
}

.git-icon {
  margin-top: 12px;
  margin-right: 38px;
  margin-left: 18px;
}

.link-icon {
  margin-bottom: 4px;
}

.git-icon:hover {
  color: black;
}

.link-icon:hover {
  color: black;
}

